{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}    
{% block content %}   
        <form action="{%  url 'student:update' student.id %}" method="POST">
            {% csrf_token %}
            <div class="card w-75">
                <div class="card-header bg-warning text-dark" >
                  Edit Student
                </div>
                <div class="card-body">                  
                    {% if form.errors %}                    
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {% for field in form %}
                            {% for error in field.errors %}
                            <ul>
                                <li>{{ error|escape }}</li>
                            </ul>
                            {% endfor %}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}  
                    <div class="form-grow row">
                        <label for="gender" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a href="{%  url 'student:home' %}" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
              </div>          
                       
        </form>
{% endblock %}  